.button{
    padding: 11px 36px;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background-color: #FCB72B;
    white-space: nowrap;
    transition: 0.4s;
    border: 3px solid transparent;

    &:hover{
        color: #FCB72B;
        background-color: transparent;
        border: 3px solid #FCB72B;
        cursor: pointer;
    }
}