.hero{
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 left -40px;

    &__body{
        padding: 153px 0;
    }

    &__title{
        max-width: 500px;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 40px;
    }

    &__desc{
        font-family: "Lexend Deca", sans-serif;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 40px;
        margin-left: 94px;
        max-width: 405px;
    }

    &__button{
        margin-left: 94px;
    }
}

@media only screen and (max-width: 750px){
    .hero{
        background-image: url("../images/hero-bg-tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 0 left -100px;

        &__body{
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }

        &__title{
            text-align: center;
            max-width: 573px;
            margin-bottom: 24px;
        }

        &__desc{
            text-align: center;
            max-width: 573px;
            margin-left: 0;
            margin-bottom: 32px;
        }

        &__button{
            margin-left: 0;
        }
    }
}

@media only screen and (max-width: 570px){
    .hero{
        background-image: url("../../images/hero-bg-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &__body{
            padding: 115px 0 179px;
        }

        &__title{
            max-width: 311px;
            margin-bottom: 24px;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 1.8px;
        }

        &__desc{
            max-width: 311px;
            margin-bottom: 34px;
        }
    }
}